.login {font-size:x-large;
    font-family: 'Inter', sans-serif;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px #8888;
    padding-left: 10px;
    position: absolute;
    margin-top: 10px;
    top:30%;
    left: 40%;
    margin: -50px 0 0 -50px;
}
.passw {display:block;
    text-align: center;
    margin-top: 60px;
    font-size: 0.7em;
    }
.sub {position: absolute;
  left: 35%;
  bottom:10%;
  border-radius: 5px;
  border-style: hidden;
  width:100px;
  height:35px;
  background-color: rgb(45, 197, 232);
  color: white;}
#inp {width: 275px;
      height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;}
.nav {float: left;
      list-style-type: none;
      background-color: black;}
