h1 {text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;}
body {background-image: linear-gradient(to top,rgb(255, 0, 255),rgba(255, 0, 76, 0.849));
      background-repeat: no-repeat;
      background-position: top;}
p {font-size: larger;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;}
a {background-color: rgb(255, 174, 0);
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   display: inline-block;
   padding: 15px 25px;
   text-decoration: none;
   border-radius: 4px;}
.help
{
    color: white;
    background-color: black;
}
